
//
// Mixins, basically css templates
//

// Red thin border to show an elements exact size
@mixin debug-border {
  border-style: solid;
  border-width: 2px;
  border-color: red;
}

// Nulls all marins, padding, and borders, mainly to remove default values
@mixin null-all-outline {
  margin: 0;
  padding: 0;
  border: 0;
}

// Rounds element corners, default values changeable after including
@mixin rounded {
  border-width: 3px;              // Border width, default 3px
  border-radius: 15px;            // How round the corners are, default 12px but larger recommended for larger items
  border-style: solid;            // Makes the border visible
  background-color: #b7edff;  // Colors the element background
  border-color: #b7edff;      // Colors the border to match
}

// Default look for buttons
@mixin button {
  @include rounded;  // Round corners
  padding: 2px;      // Pad to give button text space
  font-size: 1em;    // Increase text size
  cursor: pointer;   // Set cursor to pointer to show clickability

  background-color: #75ddff;    // Colors the element background
  border-color: #75ddff;        // Colors the border to match

  &:hover {          // Change button color when pointer is on it to show clickability
    background-color: #75ddff;  // Change element background color
    border-color: #2ccaff;      // Change border color to match
  }

  &:active {         // Change button color when clicked to show it being clicked
    background-color: #2fb0db;  // Change element background color
      border-color: #2fb0db;    // Change border color to match
  }
}

//
// Base page layout defining, ex. making sure that the app fills the whole window
//

* {
  @include null-all-outline;  // Null all default margins, padding, and borders
  box-sizing: border-box;     // All outlines are counted when defining dimensions
  text-decoration: none;      // Null all default text decorations, ex. link underlines
  color: black;             // Null all default text color, ex. link purple
  font-family: monospace;     // Set page font
}

html, body {
  min-width: 600px;           // Minimum width for page is 600px
}

.full-window {
  min-height: 100vh;          // Makes element at least as tall as the window
}

//
// Flex classes for quicker flex property editing
//

.flex {
  display: flex;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

.flex.justify-center {
  justify-content: center;
}

.flex.column {
  flex-direction: column;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

//
// Generic classes and defenitions for mixed use
//

input[type=text] {
  @include rounded;
  border-width: 3px;
  padding: 2px;
  padding: 0px 5px 0px 5px; // Stretches element vertically slightly so cursor is always visible
  min-height: 30px;

  background-color: white;
  border-color: white;
  &:hover {
    border-color: #c2dee6;
  }
}

header {
  @include rounded;           // Rounds corners
  border-radius: 50px;        // Makes round corners deeper
  padding: 0px 20px 0px 20px; // Streches element vertically
  margin: 10px;               // Margin
  min-width: 490px;           // Minimum width so the header doesn't scrunch up, but keeps margin
  height: 70px;               // Set height of header
  align-items: center;        // Align header items vertically

  h1 {
    font-style: italic;
    font-stretch: extra-expanded;
  }

  h4 {
    @include button;          // Make link to admin look like button
    min-height: 30px;
    padding: 0 5px 0 5px;

    display: inline-flex;
    align-items: center;
  }
}

.button {
  @include button;
}

.button.green {
  @include button;
  margin-left: 5px;

  background-color: #33FF66;
  border-color: #33FF66;
  color: #0C5F21;

  &:hover {
    background-color: #33FF66;
    border-color: #1fce4a;
  }

  &:active {
    background-color: #1fce4a;
    border-color: #1fce4a;
  }
}

.button.red {
  @include button;
  margin-left: 5px;

  background-color: #ff6161;
  border-color: #ff6161;
  color: #4d0000;

  &:hover {
    background-color: #ff6161;
    border-color: #d13434;
  }

  &:active {
    background-color: #d13434;
    border-color: #d13434;
  }
}

.flip-button {
  @include button;
  width: 40px;
  font-size: x-large;
}

.flip-button::after {
  content: "sync_alt";
  font-family: "Material Icons";
  font-size: small;
}

.tag-pool {
  @include rounded;
  border-radius: 15px;
  border-width: 1px;

  background-color: #649db1;
  border-color: #649db1;

  display: flex;
  flex-wrap: wrap;

  .tag {
    @include rounded;
    margin: 2px;
    height: fit-content;

    align-items: center;

    background-color: #75ddff;
    border-color: #75ddff;

    button {
      display: inline-flex;
      align-items: center;

      max-width: 17px;
      max-height: 17px;

      margin-left: 5px;

      border-radius: 50px;
      text-align: center;
    }
  }
}




//
// User view specifics
//

.user-view {

  .tag-section {
    @include rounded;
    min-width: 300px;
    max-width: 600px;
    height: fit-content;

    h2 {
      margin: 10px 3px 5px 3px;
    }

    form {
      margin: 3px 3px 7px 3px;

      input[type=submit] {
        width: 50px;
      }
    }

    .tag-pool {
      margin: 3px 3px 20px 3px;
    }
  }

  .word-section {
    min-width: 600px;
    max-width: 600px;
    .word-box {
      @include rounded;

      margin: 3px;
      padding: 3px;

      .word {
        // @include debug-border;
        flex: 1;
      }

      .word.foo {
        text-align: left;
        // border-color: red;
      }

      .word.bar {
        text-align: right;
        // border-color: blue;
      }

      input[type=text] {
        width: 200px;
      }
    }
  }
}